TELEGRAM_TOKEN=YOUR_TOKEN_HERE
OWNER_ID=YOUR_TELEGRAM_ID_HERE
ALLOWED_USERS=YOUR_TELEGRAM_ID_HERE
BANNER_FILE_ID=YOUR_BANNER_FILE_ID_HERE
DUITKU_API_KEY=YOUR_DUITKU_API_KEY_HERE
DUITKU_MERCHANT_CODE=YOUR_DUITKU_MERCHANT_CODE_HERE
ENCRYPTION_KEY=ENCRYPTION_KEY